.mat-toolbar.mat-primary {
    background-color: #ed1d24;
    height: auto;
    padding: 10px 0;
    img {
        justify-content: center;
        margin: auto;
    }
}

.footer-text {
    margin: auto;
    display: block;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}